* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  direction: ltr !important;
  overflow-x: hidden;
}

body {
  direction: ltr !important;
  text-align: left !important;
  overflow-x: hidden;
  max-width: 100vw;
}

#root {
  direction: ltr !important;
  text-align: left;
  overflow-x: hidden;
  max-width: 100vw;
}
